<div class="product-list">
  <button (click)="goBack()" class="knopka">go back</button>
  <p class="hh">Order <span *ngIf="category">{{category.name}}</span> in <span *ngIf="restaurant">{{restaurant.name}}</span></p>


  <div class="restaurant-block">

    <div class="col-md-4" *ngFor="let product of products">
      <div class="main1">
        <div class="photo1">
          <a>
            <img  class="photoSize" src="{{ product.image }}">
          </a>
        </div>

        <div class="context1">
          <h3>
            <a id="title" href="" target="_blank"> {{ product.name }}</a>
          </h3>
          <p *ngIf="product.description">
            {{ product.description }}
          </p>
          <p *ngIf="product.delivery_cost">
            Delivery cost: {{product.delivery_cost}} tg.
          </p>
          <p *ngIf="product.price">
            Price: {{product.price}} tg.
          </p>
          <button routerLink="categories/{{category.id}}/{{restaurant.id}}/{{product.product_id}}" class="order">Order</button>
        </div>

      </div>
    </div>

  </div>



</div>
