<div class="footer">
  <div  class="footer-container">
    <img id="logo" src="../../assets/images/logo.jpg">
    <div class="additional">
      <div class="name">
        <span class="label">Mobile Application</span>
        <a  href="https://itunes.apple.com/kz/app/chocofood.kz-zakaz-i-dostavka/id1033887038?mt=8" class="under-label"> <p>Apple Store</p></a>
        <a  href="https://play.google.com/store/apps/details?id=kz.chocofood.chocofoodapp&referrer=utm_source=Chocofood.kz&utm_medium=banner_index" class="under-label"> <p>Google Play Market</p></a>
      </div>
      <div class="name">
        <span class="label">Join us!</span>
        <a  href="https://www.facebook.com/chocofood.kz/" class="under-label"> <p>Facebook</p></a>
        <a  href="https://vk.com/chocofood_kz" class="under-label"> <p>ВКонтакте</p></a>
        <a  href="https://www.instagram.com/chocofood.kz/" class="under-label"> <p>Instagram</p></a>
        <a  href="https://chocofood.kz/blog/" class="under-label"> <p>Blog</p></a>
      </div>
    </div>
  </div>

</div>
<div id="footer-bottom">
  <br>
  <span id="txt-bottom">© 2013–2020 TОО «Интернет Доставка».</span>
</div>
