<button (click)="goBack()" class="knopka">Back</button>
<div class="form">
  <h2 *ngIf="category.name">Order {{category.name}}</h2>
  <h3 *ngIf="product.name">Name: {{product.name}}</h3>
  <h3 *ngIf="product.price">Price: {{product.price}} tg.</h3>
    <form id="log_form" method="post">
      <label>Enter your name and surname
        <input class="label" type="text" name="data" placeholder="Keanu Reaves">
      </label> <br>

      <label>Enter your e-mail
        <input class="label" type="text" name="data"  placeholder="example@chocofood.kz">
      </label> <br>

      <label>Enter your phone number
        <input class="label" type="text" name="data"  placeholder="+7-***-***--">
      </label> <br>

      <label>Comments to Order
        <input class="label" type="text" name="data" placeholder="Comments">
      </label> <br>

      <label>Enter Your Card Number
        <input class="label" type="text" name="data" placeholder="**** **** **** ****">
      </label> <br>

      <p class="p">Нажимая на кнопку "Order" Вы даете согласие на обработку указанных персональных данных в соответствии
        с законом РК и подтверждаете, что ознакомлены с политикой конфиденциальности</p>

      <button (click)="order()">Order</button>
    </form>
    <br>
</div>
