<div class = "order">
  <div class = "location">
    <p id ="tx">Enter the delivery address / select on the map / log in and select from your address list</p>
    <div class="location-line">
      <div class="cities_field">
        <div class = "location_settings">
          <select class="cities">
            <option lat="0" lon="0" value="almaty">Алматы</option>
            <option lat="0" lon="0" value="astana">Астана</option>
            <option lat="0" lon="0" value="aryrau">Атырау</option>
            <option lat="0" lon="0" value="karaganda">Караганда</option>
            <option lat="0" lon="0" value="shymkent">Шымкент</option>
            <option lat="0" lon="0" value="ust-kamenagorsk">Усть-Каменогорск</option>
            <option lat="0" lon="0" value="kaskelen">Каскелен</option>
            <option lat="0" lon="0" value="taldykorgan">Талдыкорган</option>
            <option lat="0" lon="0" value="temirtau">Темиртау</option>
            <option lat="0" lon="0" value="pavlodar">Павлодар</option>
            <option lat="0" lon="0" value="aktau">Актау</option>
            <option lat="0" lon="0" value="kapchagay">Капчагай</option>
            <option lat="0" lon="0" value="ekibastuz">Экибастуз</option>
            <option lat="0" lon="0" value="semei">Семей</option>
            <option lat="0" lon="0" value="aktobe">Актобе</option>
            <option lat="0" lon="0" value="taraz">Тараз</option>
            <option lat="0" lon="0" value="uralsk">Уральск</option>
            <option lat="0" lon="0" value="kokshetau">Кокшетау</option>
          </select>
        </div>
      </div>
      <div class="address-field">
          <input class ="address-field-input" placeholder="Улица, дом" type="search">
      </div>
      <div class="submit-button">
        <button class="submit-button_button">
          Find restaraunts
        </button>
      </div>


    </div>


  </div>

</div>
