.active-pink-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=search] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input[type=search] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

#logo{
  margin-left:260px;
  width: 230px;
  height: 70px;
}
.active-cyan input[type=search] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.header{
  margin: -8px -8px auto;
  background-color: #d43635;
  display: flex;
  flex-direction: row;
  height: 90px;
}
.form-control{
  width: 373px;
  height: 30px;
  padding-left: 10px;
  padding-right: 50px;
  border: 0;
  font-size: 13px;
  color:#767676;
  margin-top: 30px;
  border-radius: 5px;
}
#loginregistration{
  margin: 40px 50px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: underline dotted white;
}
