<div class="product-list">
  <button (click)="goBack()" class="knopka">go back</button>
  <p class="hh">Order <span *ngIf="category.name">{{category.name}}</span> in Almaty</p>

  <div class="restaurant-block">
      <div class="col-md-4" *ngFor="let restaurant of restaurants">
        <div class="main1">
          <div class="photo1">
            <a>
              <img routerLink="/categories/{{category.id}}/restaurants/{{restaurant.id}}" class="photoSize" src="{{ restaurant.image }}">
            </a>
          </div>

          <div class="context1">
            <h3>
              <a id="title" href="" target="_blank"> {{ restaurant.name }}</a>
            </h3>
            <p *ngIf="restaurant.description">
              {{ restaurant.description }}
            </p>
            <button routerLink="/categories/{{category.id}}/restaurants/{{restaurant.id}}" class="knopka">
              Details
            </button>

            <button routerLink="/categories/{{category.id}}/restaurants/{{restaurant.id}}/products" class="knopka">
              Order
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
