<button (click)="goBack()" class="knopka">Back</button>
<form class="form" id = "regist_form">
  <h2>Registration:</h2>
    <label for = "us_name">Your name:
      <input class="label" type="text" name="us_name" id="us_name" placeholder="Киану Ривз"><br>
    </label>
    <label for = "us_phone">Contact phone number:
      <input class="label" type="text" name="us_phone" id="us_phone" placeholder="+7"> <br>
    </label>

    <label for = "us_email">E-mail:
      <input class="label" type="text" name="us_email" id="us_email" placeholder = "example@chocofood.kz"><br>
    </label>

    <label for = "us_password">Password:
      <input class="label" type="password" name="us_password" id="us_password" placeholder="Enter your password"> <br>
    </label>

    <label for = "us_password2">Repeat your password:
      <input class="label" type="password" name="us_password2" id="us_password2" placeholder="Repeat your password"> <br>
    </label>
  <label for="date">Birth date:
    <input type="date" id="date" name="date"/>
  </label>
  <button>Register</button>
  <p class="message">Already registered? <a routerLink="/login">Sign in</a></p>
</form>


