<div class="product-list">
  <button (click)="goBack()" class="knopka">Back</button>
  <p class="hh">Order <span *ngIf="category.name">{{category.name}}</span> in Almaty</p>

  <div class="restaurant-block">
    <div class="col-md-4" >
      <div class="main1">
        <div class="photo1">
          <a>
            <img routerLink="/categories/{{category.id}}/restaurants/{{restaurant.id}}" class="photoSize" src="{{ restaurant.image }}">
          </a>
        </div>

        <div class="context1">
          <h3>
            <a id="title" href="" target="_blank"> {{ restaurant.name }}</a>
          </h3>
          <p *ngIf="restaurant.description">
            {{ restaurant.description }}
          </p>
          <p *ngIf="restaurant.delivery_time">
            Delivery time: {{restaurant.delivery_time}} min
          </p>
          <p *ngIf="restaurant.delivery_cost">
            Delivery cost: {{restaurant.delivery_cost}} tg.
          </p>
          <p *ngIf="restaurant.min_order">
            Minimum order amount: {{restaurant.min_order}} tg.
          </p>

          <button routerLink="/categories/{{category.id}}/restaurants/{{restaurant.id}}/products" class="knopka">
            Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
